body{
    font-family: "Myriad Pro", sans-serif;
}
header{
    background: url("../img/background-header.jpg");
    position: relative;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}
header .navbar a{
    color: #fff;
    text-transform: uppercase;
}

header .navbar a:hover{
    color: #16a085 !important;
}
.content-background{
    position: absolute;
    line-height: 2;
    z-index: 999;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-background .title{
    font-weight: bold;
    font-family:  "Apple Myungjo", sans-serif;
    font-size: 2em;
    letter-spacing: 10px;
}
.content-background p {
    font-family: "Apple Myungjo", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
}
.btn{
    text-transform: uppercase;
    background-color: #16a085;
    color: #fff;
    outline-style: none;

}
.btn:hover{
    background-color: #78a07c;
    color: #fff;
    outline-style: none;
}
.content-icons{
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
}
.content-icons a {
    font-size: 18pt;
    color: #fff;
    text-decoration: none;
}
.content-icons a:hover{
    color: #16a085;
}
.navbar{
    left: 50%;
    transform: translate(-50%, 0%);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
    padding: 2.5rem 1rem;
}

.ff{
    margin-left: 30px !important;
}

.feature1, .slider, .feature4{
    background-color: #f5f6f7;
}
.feature1 .content h3, .feature2 .content h3{
    text-transform: uppercase;
    color: #16a085;
    margin-bottom: 20px;
}
.feature1 .content p{
    width: 500px;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-bottom: 20px;
}
.feature1 .content div:nth-child(2) img{
    width: 90%;
}
.feature1 .context-text, .feature2 .context-text{
    top: 55px !important;
}
.feature1 .content img, .feature2 .content img{
    margin-top: 70px !important;
}
.feature2 .content p{
    width: 450px;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-bottom: 30px;
}
.feature2{
    margin-bottom: 80px;
}
.logogreen{
    margin-bottom: 20px;
}
.slider{
    padding-top: 100px;
    padding-bottom: 100px;
}
.slider ul{
    list-style: none
}
.slick-prev, .slick-next {
    position: absolute;
    top: -10% !important;
    transform: translate(-10, 0%);
}
.slick-prev:before, .slick-next:before {
    color: #000 !important;
}
[data-slick-index]{
   margin-right: 10px !important;
}
.slick-prev {
    left: 80% !important;
    transform: translate(0, -80%);
}
.slick-next {
    left: 85%;
    transform: translate(0, -85%);
}
.slick-list{
 margin-left: 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f053' !important;
}
.slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f054' !important;
}

.feature3{
    position: relative;
    background-image: url("../img/section3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 790px;
}
.input-group{
    width: 60%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-group-text {
    background-color: #16a085 !important;
    border: 1px solid #16a085;
    color: #fff;
}

@media (max-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.5rem !important;
        padding-left: 2.5rem !important;
    }
    .feature1 .context-text {
        top: 40px !important;
    }
    .feature1 .content{
        text-align: center;
    }
    .feature1 .content p{
        width: 100%;
    }
    .feature2 .content{
        text-align: center;
    }
    .feature2 .content p{
        width: 100%;
    }
    .slider{
        padding-top: 80px;
    }
    .content>div{
        padding-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        padding: .5rem 1rem;
    }
    .logo {
        position: absolute;
        left: 90%;
        top: 2%;
        transform: translate(-90%, -2%);
    }
    .feature1 .content img, .feature2 .content img{
        width: 90%;
    }
    .navbar-toggler {
        margin-top: 3% !important;
    }
}

@media (max-width: 576px) {

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .navbar-toggler {
        margin-top: 6% !important;
    }


}